{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="index.html" class="govuk-back-link">Back</a>


    <h1 class="govuk-heading-l">Before you start</h1>

    <p class="govuk-body">We will now ask you a few questions about your eligibility for a first provisional 
                          driving licence and then confirm your identity.</p>
    <p class="govuk-body">You'll need to prove:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>your email and password if you have a Driver and vehicles account</li>
  <li><p class="govuk-body">your identity document number. You can use a:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>UK passport (a passport that expired within the last 12 months can be used for this service)</li>
      <li>non UK passport</li>
      <li>biometric residence permit</li>
      <li>biometric residence card</li>
      <li>national identity card</li>
    </ul></li>
  <li>your National Insurance number if you know it</li>
  <li>you may also have to provide addresses where you've lived over the last 3 years</li>
</ul>

<div class="govuk-inset-text">
  By providing these details, it will help speed up your application and may avoid you having to verify your |
  identity by post.
</div>

<p class="govuk-body">You will also need to provide a valid photo and signature for your provisional licence. 
                      We may be able to use your passport photo and signature if your passport has one.</p>
<a href="issued-before.html">
   <button type="submit" class="govuk-button" data-module="govuk-button"> Continue </button>
</a>                

    
  </div>
</div>

{% endblock %}
