{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-width-container">
<a href="intend-to-live.html" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel custom-panel">
      <h1 class="govuk-panel__title">
        You cannot apply for a Great Britain (GB) provisional license
      </h1>
    </div>

    <Style>.custom-panel {
      background-color: #f0f0f0; /* Change the background color to grey */
      border-color: #f0f0f0; /* Change the border color if necessary */
    }
    </Style>

    <p class="govuk-body">You will be able to apply once you intend to live in the UK for more than <strong>185 days</strong> in each calendar year.</p>


    <button type="submit" class="govuk-button" data-module="govuk-button"> Return to GOV.UK </button>                      

  </div>
</div>
</main>
</div>

{% endblock %}
