{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
<div class="govuk-width-container">
<a href="medical-conditions.html" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div>
      <h1 class="govuk-heading-xl">
        As you have a medical condition and this service is new, you'll need to apply using our old online service
      </h1>

      <p class="govuk-body">The old online service will look different to this service and you may be asked 
        to send your identity documents by post.</p>

        <p class="govuk-body">Any information you have given on this service will not be saved. 
          You will need to re-enter your details in our old online service.</p>

          <button type="submit" class="govuk-button" data-module="govuk-button"> Apply using old online service </button>
          
          <h2 class="govuk-heading-m">Get help with your application</h2>

          <h3 class="govuk-heading-s">Webchat</h3>
          <button type="submit" class="govuk-button" data-module="govuk-button"> Start chat </button>

          <h3 class="govuk-heading-s">Webchat Availability</h3>
          <p class="govuk-body">Monday to Friday, 8am to 7pm</p>
          <p class="govuk-body">Saturdays, 8am to 2pm</p>
          <p class="govuk-body">Public holidays, Closed</p>
            

          

    </div>              

    
  </div>
</div>
</main>
</div>

{% endblock %}
