{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="issued-before.html" class="govuk-back-link">Back</a>

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        You cannot apply for a Great Britain (GB) provisional license
      </h1>
    </div>

    <p class="govuk-body">You need to be a resident in Great Britain to use this service.</p>

    <h2 class="govuk-heading-m">What to do next</h2>
    <p class="govuk-body">You can apply once you have been a resident in Great Britain for at least 6 months.</p>

    <button type="submit" class="govuk-button" data-module="govuk-button"> Return to GOV.UK </button>                      

  </div>
</div>

{% endblock %}
