{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-width-container">
<a href="eyesight-standard.html" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before creating your account
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Have you been issued with a Great britain (GB) provisional driving license before?"
            },
            value: {
              text: data['issued-1']
            },
            actions: {
              items: [
                {
                  href: "issued-before",
                  text: "Change",
                  visuallyHiddenText: "have you been issued with a license before"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Where is your current address?"
            },
            value: {
              text: data['address']
            },
            actions: {
              items: [
                {
                  href: "current-address",
                  text: "Change",
                  visuallyHiddenText: "where is your current address"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Now create your account
      </h2>

      

      <form action="/create-an-account" method="post" novalidate>

        {{ govukButton({
          text: "Create an account"
        }) }}

      </form>

    </div>
  </div>
</main>
</div>

{% endblock %}
