{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-width-container">
<a href="before-you-start.html" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/address-answer" method="post">
      
      {{ govukRadios({
        name: "address",
        value: data['address'],
        fieldset: {
          legend: {
            text: "Where is your current address?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "England",
            text: "England"
          },
          {
            value: "Scotland",
            text: "Scotland"
          },
          {
            value: "Wales",
            text: "Wales"
          },
          {
            value: "Northern ireland",
            text: "Northern Ireland"
          },
          {
            value: "jersey",
            text: "Jersey"
          },
          {
            value: "isle of Man",
            text: "Isle of Man"
          },
          {
            value: "Guernsey",
            text: "Guernsey"
          },
          {
            divider: "or"
          },
          {
            value: "abroad",
            text: "Any other country"
          }
        ]
      }) }}
      
      {{ govukButton({
        text: "Continue"
      }) }}
      
      </form>                 

    
  </div>
</div>
</main>
</div>
{% endblock %}
