{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-width-container">
<a href="lived-outside.html" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/disqualified-answer" method="post">
      {{ govukRadios({
        name: "disqualified",
        value: data['disqualified'],
        fieldset: {
          legend: {
            text: "Are you currently disqualified from driving in the UK (including Northern Ireland, 
            Jersey, Guernsey and Isle of Man) or any other country?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}
      
      {{ govukButton({
        text: "Continue"
      }) }}
      
      </form>                

    
  </div>
</div>
</main>
</div>

{% endblock %}
