{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-width-container">
<a href="disqualified.html" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/eyesight-answer" method="post">
      
      {{ govukRadios({
        name: "eyesight",
        value: data['eyesight'],
        fieldset: {
          legend: {
            text: "Can you meet the legal eyesight standard for driving?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "Yes, with glasses or corrective lenses",
            text: "Yes, with glasses or corrective lenses"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}
      
      {{ govukButton({
        text: "Continue"
      }) }}
      
      </form>                 

    
  </div>
</div>
</main>
</div>

{% endblock %}
