{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">Get your first provisional driving licence for a car, motorbike, moped or other vehicle 
      from DVLA online. To apply you must:</p>

<ul class="govuk-list govuk-list--bullet">
<li>be at least 15 years and 9 months old</li>
<li>be able to read a number plate from 20 metres away</li>
<li>have been given permission to live in Great Britain (England, Scotland and Wales) for at least 185 days</li>
</ul>

<p class="govuk-body">It costs £34 when you apply online.</p>
<p class="govuk-body">If you applied for a provisional licence before 1 March 1973 you’ll need to use this service 
  to get a new licence.</p>

<div class="govuk-inset-text">
  This service is also available in Welsh (Cymraeg).
</div>

    <a href="before-you-start.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
