{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="before-you-continue.html" class="govuk-back-link">Back</a>

    <form class="form" action="/intend-answer" method="post">
      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "intend",
        value: data['intend'],
        fieldset: {
          legend: {
            text: "Do you intend to live in the UK for more than 185 days in each calendar year",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}
      
      {{ govukButton({
        text: "Continue"
      }) }}
      
      </form>                

    
  </div>
</div>

{% endblock %}
