{% extends "layouts/main.html" %}

{% set pageName="issued-before" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="before-you-start.html" class="govuk-back-link">Back</a>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

<form class="form" action="/issued-before-answer" method="post">
{{ govukRadios({
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      text: "Have you been issued with a Great Britain (GB) provisional driving license before?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}
</form>

    <button id="continueButton" type="submit" class="govuk-button" data-module="govuk-button"> Continue </button> 
    
     <!-- Include your JavaScript after the HTML elements -->
  <script src="routes.js"></script>


    
  </div>
</div>

{% endblock %}
