{% extends "layouts/main.html" %}

{% set pageName="issued-before" %}

{% block content %}

<div class="govuk-width-container">
<a href="before-you-start.html" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<form class="form" action="/issued-answer" method="post">
{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "issued-before",
  value: data['issued-before'],
  fieldset: {
    legend: {
      text: "Have you been issued with a Great Britain (GB) provisional driving license before?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}

</form>


  


    
  </div>
</div>
</main>
</div>

{% endblock %}
